@{
    ViewBag.Title = "Projeto Blue Bank";
}

<br />
<div class="jumbotron">
    <h2>Projeto Blue Bank</h2>
    <p>Projeto destinado a avaliação dos conhecimentos na plataforma .NET da Microsoft</p>
</div>


