@{
    string titulo = "Operação realizada com sucesso !";
    ViewBag.Title = titulo;
}
<div class="row">
    <h3 class="heading">Sucesso :)</h3>
    <hr />
    <div class="alert alert-success" role="alert"><p>Sua transação foi realizada com sucesso. @Html.ActionLink("Clique aqui", "Index", "Home") para voltar a página principal do projeto</p></div>
</div>

