body
{
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content
{
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea
{
    max-width: 280px;
}

/* Alterada a cor do texto de erro da validação */
.field-validation-error
{
    color: red;
}

/* Alterado o tamanho do alert padrão do bootstrap */
.ajusteTamanhoAlerta
{
    width: 350px;
}

/* Classe criada para os erros em tela, quando ultrapassar um limite, irá deixar barra de rolagem */
.overflow
{
    overflow: auto;
    max-height: 300px;
}